/node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

.DS_Store
Thumbs.db

/dist/
/build/

*.tsbuildinfo

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

jspm_packages/
bower_components/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

.env

.cache
.parcel-cache

.next
.out

.nuxt
dist

.cache/

.vuepress/dist

.serverless/

.fusebox/

.dynamodb/

.tern-port

tmp/
temp/

.env*
.env.vault
.flaskenv*
!.env.project
!.env.vault
